/* Font: Work Sans */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,900&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

/* Shared Styles */
* {
  font-family: "Merriweather", serif;
  font-family: "Work Sans", sans-serif;
}
.text-light-gray {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
}
.btn-primary {
  padding: 20px 25px;
  background-color: #ff900e;
  border: 0;
  border-radius: 8px;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}
.btn-primary:hover {
  color: #131313;
}

/* Header Styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-size: 1rem;
  font-weight: 500;
}
nav a {
  text-decoration: none;
  color: #424242;
}

/* Banner Styles */
.banner-content {
  width: 800px;
  text-align: center;
  margin: 0px auto;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner img {
  margin-top: 20px;
  width: 100%;
}

/* Main Styles */
main {
  max-width: 1440px;
  margin: 0 auto;
}

/* Teams Styles */
.teams-container {
  margin-top: 85px;
  display: flex;
  align-items: center;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.teams-content {
  padding-left: 72px;
  padding-right: 300px;
}
.teams-title {
  font-size: 45px;
  font-weight: 700;
}
.teams-title .quick-list {
  color: #727272;
  font-weight: 500;
}
.teams-title .text-features {
  color: #ff900e;
}

/* Features Styles */
.features {
  margin-top: 130px;
  display: flex;
  gap: 100px;
}
.features .section-title {
  border-left: 5px solid #ff900e;
  padding-left: 21px;
}
.features .card {
  width: 586px;
  height: 171px;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.ten-years-badge {
  width: 342px;
  height: 120px;
  border-radius: 8px;
  background: #ff900e;
  padding: 40px;
  text-align: center;
  position: relative;
  bottom: 95px;
  right: 50px;
}
.ten-years-badge h3 {
  color: #fff;
  font-size: 65px;
  font-weight: 700;
  margin: 0;
}
.ten-years-badge p {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}

/* Facts Styles */
.facts-card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 30px;
}
.facts-card-container .card-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 5px;
}
.facts-card-container .card-stats {
  font-size: 2.8rem;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Sponsors Styles */
.sponsors {
  margin-top: 180px;
  text-align: center;
}
.sponsors-img-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  align-items: center;
  gap: 155px;
}
.sponsors-img-container img {
  width: 165px;
}
/* Footer Styles */
.footer {
  width: 1440px;
  height: 100px;
  border-radius: 8px;
  background: #fff4e7;
  margin-top: 170px;
  margin-left: auto;
  margin-right: auto; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-text{
  color: #424242;
  font-size: 20px;
  font-weight: 400;
}











/* Responsive Media Queries */

/* Mobile Devices */
@media screen and (max-width: 576px) {
  .banner-content {
    width: auto;
  }
  header,
  .teams-content {
    padding: 20px;
  }
  nav,
  .teams-container,
  .facts-card-container,
  .sponsors-img-container,
  .features {
    flex-direction: column;
  }
  .teams-img-container {
    grid-template-columns: 1fr;
  }
  .teams-container {
    margin-top: 50px;
  }
  .facts-card-container,
  .sponsors-img-container {
    gap: 20px;
  }
  .teams-content,
  .facts-card-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .features {
    max-width: 300px;
  }
  .features .card {
    width: 300px;
  }

  .ten-years-badge {
    position: static;
    max-width: 276px;
    height: 100px;
    padding: 20px;
    margin-left: 20px;
  }
  .ten-years-badge h3 {
    font-size: 50px;
  }
  .feature-img img {
    width: 355px;
  }
  .footer{
    width: auto;
    height: auto;
    margin-top: 50px;
  }
  .footer-text{
    font-size: 7px;
  }
}

/* Tablet or Medium Devices */
@media screen and (min-width: 577px) and (max-width: 960px) {
  header,
  .teams-container {
    padding: 50px;
  }
  nav,
  .teams-container,
  .sponsors-img-container,
  .features {
    flex-direction: column;
  }
  .teams-container {
    margin-top: 0px;
  }
  .features {
    margin-top: 0px;
  }
  .sponsors-img-container {
    gap: 15px;
  }
  .feature-img {
    align-items: center;
    margin-top: 0;
    margin-left: 75px;
  }
  .ten-years-badge {
    bottom: 0;
    right: -150px;
  }
  .features .card {
    margin-left: 100px;
  }
  .footer{
    width: auto;
    height: auto;
    margin-top: 80px;
  }
  .footer-text{
    font-size: 10px;
  }
}
